body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9fafb;
}

#book_entry {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-bottom: 5rem;
}

.display-case {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-around;
}

.display-case div {
    background-color: white;
    padding: 2rem;
    border: 1px solid darkgray;
    border-radius: 3%;
    box-shadow: 1px 1px rgb(121, 121, 121);
}